<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' />
  </head>
  <body>
    <h1>You should do room draw, <%= @user.name %>.</h1>
    <p>If not, there will be consequences. Dun dun dun dunnnn.</p>
  </body>
</html>