<h1 style="text-align: center;">Welcome to Room Draw</h1>

<h2 style="text-align: center;">Instructions:</h2>
<p style="text-align: center;">1) Make sure you are an authenticated User (student).<br/>

                     2) Login with your HMC google account. If you get a red error screen, or it says your account does not exist, try logging on to your HMC Google account elsewhere (like Sakai) and try again.<br/>
                     3) Click on "Maps" to go the dorms and rooms.<br/>

</p>
