<%= stylesheet_link_tag 'static_pages' %>
<%= javascript_include_tag 'static_pages.js', "data-turbolinks-track" => "reload", debug: true %>
<%= javascript_include_tag 'static_pagesTest' %>


<li><% if current_user %>
<img src="/assets/harvey-mudd-college-evacuation-sites-page-001.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="Case" href="/case" shape="rect" coords="1816,384,1987,514" onmouseover="popCase(event);" onmouseout="popCase(event);" 
     />
    <area alt="" title="Linde" href="/linde" shape="rect" coords="1937,243,2059,382" onmouseover="popLinde(event);" onmouseout="popLinde(event);" />
    <area alt="" title="Drinkward" href="/drinkward" shape="rect" coords="1775,148,1928,265" onmouseover="popDrinkward(event);" onmouseout="popDrinkward(event);" />
    <area alt="" title="Sontag" href="/sontag" shape="rect" coords="1645,148,1766,265" onmouseover="popSontag(event);" onmouseout="popSontag(event);" />
    <area alt="" title="Atwood" href="/atwood" shape="rect" coords="1640,382,1793,508" onmouseover="popAtwood(event);" onmouseout="popAtwood(event);" />
    <area alt="" title="North" href="/north" shape="rect" coords="1311,157,1446,279"  onmouseover="popNorth(event);" onmouseout="popNorth(event);" />
    <area alt="" title="East" href="/east" shape="rect" coords="1311,328,1446,450"  onmouseover="popEast(event);" onmouseout="popEast(event);" />
    <area alt="" title="South" href="/south" shape="rect" coords="1149,283,1293,153"  onmouseover="popSouth(event);" onmouseout="popSouth(event);" />
    <area alt="" title="West" href="/west" shape="rect"  coords="1149,324,1289,454" onmouseover="popWest(event);" onmouseout="popWest(event);" />
</map>
<% else %>
  <h1>Welcome to Room Draw</h1>
 
                  <h2>Instructions:</h2>
                  <p>1) Make sure you are an authenticated User (student).<br/>
                     2) Login with your HMC google account.  You will then be redirected to a page where you can fill out the required CIS form.<br/>
                     3) Fill out the CIS form.<br/>
                     4) Select a room.  You will not be able to pull into a room until you have logged in and filled out the CIS form.<br/>
                  </p>

<% end %></li>


<!-- Hidden popup div goes here
	Shows up when hovering over dorms -->
<div id= "case" class= "dorms">
	There are approximately 10 empty rooms in Case. </br>
    With a room draw number of 12, you can pull into approximately 25 rooms.
</div>

<div id= "linde" class = "dorms">
This is Linde
</div>

<div id= "sontag" class = "dorms">
This is Sontag
</div>

<div id= "drinkward" class = "dorms">
This is Drinkward
</div>

<div id= "atwood" class = "dorms">
This is Atwood
</div>

<div id= "south" class = "dorms">
This is South
</div>
 
<div id= "north" class = "dorms">
This is North
</div>

<div id= "east" class = "dorms">
This is East
</div>

<div id = "west" class = "dorms">
This is West
</div>


