
<h1 style="text-align: center;">Welcome to Room Draw</h1>

<h2 style="text-align: center;">Instructions:</h2>
<p style="text-align: center;">1) Make sure you are an authenticated User (student).<br/>
   2) Make sure you have filled out the CIS form.<br/>
   3) Login with your HMC Google account.<br/>
   4) Select a room.<br/>
</p>