<h1>Dorms#atwood</h1>
<p>Find me in app/views/dorms/atwood.html.erb</p>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

 <style type="text/css">
/*Following Modal was taken from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>

 <body>
<!--  <h2 style="text-align:center">
	Case Dorm
 	  </h2> -->
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href=/dorms><span style="font-size:2.5em;" class="glyphicon glyphicon-circle-arrow-left"></span> Go back</a>			</div>

		    <div class="col-md-7">
				<div class="btn-group">
					<button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Change Dorms <span class="caret"></span>
					</button>

					<ul class="dropdown-menu">
				  	<li class = "active"><a href=/dorms/atwood>Atwood</a></li>
				  	<li><a href=/dorms/case>Case</a></li>
				  	<li><a href=/dorms/east>East</a></li>
				  	<li><a href="#">Drinkward</a></li>
				  	<li><a href=/dorms/linde>Linde</a></li>
				  	<li><a href=/dorms/north>North</a></li>
				  	<li><a href="#">Sontag</a></li>
				  	<li><a href=/dorms/south>South</a></li>
				    <li><a href=/dorms/west>West</a></li>
					</ul>
			    </div>
			</div>

			<div class="col-md-3">
				<div class="btn-group">
					<button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Switch Floor <span class="caret"></span>
					</button>

					<ul class="dropdown-menu">
				  	<li class = "active"><a href=/dorms/atwood>First Floor</a></li>
				  	<li><a href=/dorms/atwood2>Second Floor</a></li>
				  	<li><a href=/dorms/atwood3>Third Floor</a></li>
					</ul>
			    </div>
			</div>
	</div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Pull request initiated</h2>
        </div>
        <div class="modal-body">
          <p>You have begun a pull request for this room</p>
          <p>The following form </p>
        </div>
        <div class="modal-footer">
          <h3>Pull request form</h3>
        </div>
      </div>

    </div>


</body>



<script>
var w = 1000;
var h = 750;
 dataset = [
{roomNum : '107', status: "empty", type: "D", orient: "UL"},
{roomNum : '105', status: "empty", type: "S", orient: "L"},
{roomNum : '103', status: "empty", type: "S", orient: "L"},
{roomNum : '101', status: "empty", type: "D", orient: "L"},
{roomNum : '100', status: "empty", type: "D", orient: "L"},
{roomNum : '102', status: "empty", type: "S", orient: "L"},
{roomNum : '104', status: "empty", type: "S", orient: "L"},

{roomNum : '106', status: "empty", type: "D", orient: "DL"},
{roomNum : '108', status: "empty", type: "S", orient: "D"},
{roomNum : '110', status: "empty", type: "S", orient: "D"},
{roomNum : '112', status: "empty", type: "D", orient: "D"},
{roomNum : '114', status: "empty", type: "D", orient: "D"},
{roomNum : '116', status: "empty", type: "S", orient: "D"},
{roomNum : '118', status: "empty", type: "S", orient: "D"},

{roomNum : '120', status: "empty", type: "D", orient: "DR"},
{roomNum : '122', status: "empty", type: "S", orient: "R"},
{roomNum : '124', status: "empty", type: "S", orient: "R"},
{roomNum : '126', status: "empty", type: "D", orient: "R"},
{roomNum : '127', status: "empty", type: "D", orient: "R"},
{roomNum : '125', status: "empty", type: "S", orient: "R"},
{roomNum : '123', status: "empty", type: "S", orient: "R"},

{roomNum : '121', status: "empty", type: "D", orient: "UR"},
{roomNum : '119', status: "empty", type: "S", orient: "U"},
{roomNum : '117', status: "empty", type: "S", orient: "U"},
{roomNum : '115', status: "empty", type: "D", orient: "U"},
{roomNum : '113', status: "empty", type: "D", orient: "U"},
{roomNum : '111', status: "empty", type: "S", orient: "U"},
{roomNum : '109', status: "empty", type: "S", orient: "U"},



]

var singleWidth = 40 
var doubleWidth = 40
var singleLength = 70
var doubleLength = 90
var largeDoubleSize = 90 
// var quadLength = 150
// var quadWidth = 100 
var spacing = 70

var x = 120 //starting positions for left side 
var y = 110

dataset[0].x = x;
dataset[0].y = y - largeDoubleSize;

for (var num = 1; num < 7; num++){	
	dataset[num].x = x 
	dataset[num].y = y
	if (dataset[num].type =="D"){
		y += doubleWidth
	}
	if (dataset[num].type =="S")
		y += singleWidth 
	if (num == 3){
		y += spacing
	}
}

dataset[7].x = x
dataset[7].y = y 


x = 210 //starting positions for lower side 
y = 440

for (var num = 8; num < 14; num++){	
	dataset[num].x = x 
	dataset[num].y = y
	if (dataset[num].type =="D"){
		x += doubleWidth
	}
	if (dataset[num].type =="S")
		x += singleWidth 
	if (num == 10){
		x += spacing
	}
}
dataset[14].x = x
dataset[14].y = 420 
x = x //starting positions for right side 
y = 420
for (var num = 15; num < 21; num++){	
	if (dataset[num].type =="D"){
		y -= doubleWidth
	}
	if (dataset[num].type =="S")
		y -= singleWidth 
	dataset[num].x = x 
	dataset[num].y = y
	if (num == 17){
		y -= spacing
	}
}
dataset[21].x = x;
dataset[21].y = y - largeDoubleSize;

x = 520 //starting positions for upper side 
y = 20
for (var num = 22; num < 28; num++){	
	if (dataset[num].type =="D"){
		x -= doubleWidth
	}
	if (dataset[num].type =="S")
		x -= singleWidth 
	dataset[num].x = x 
	dataset[num].y = y
	if (num == 24){
		x -= spacing
	}	
}

	var svg = d3.select("body") //creates the canvas 
            .append("svg")
            .attr("width", w)
            .attr("height", h);

	svg.selectAll("text") 
	   .data(dataset)
	   .enter()
	   .append("text")
	   .text(function(d) {
	        return d.roomNum + '(' + d.type + ')';
	   })
	   .attr("x", function(d, i){
		    switch (d.orient){
		    	case "L":
			   	case "UL": 
			   	case "DL": 
			   		return Number(d.x)-50;
			   	case "D":
			 		return Number(d.x) + 5;
			 	case "R":
			   	case "UR":
			   	case "DR":
			 		if (d.type == "S"){
		    			return Number(d.x) + 80;
			   		}			   		
			   		else{	
			   			return Number(d.x) + 100;
			   		}
			   	case "U":
			   		return Number(d.x) + 5;			   		
			   	
		    }
		   })
	   .attr("y", function(d, i){
			switch(d.orient){
		    	case "L":
			   	case "UL": 
			   	case "DL": 
			   		return Number(d.y) + 20;
			   	case "D":
			   		if (d.type == "S"){
		    			return Number(d.y) + 90;
			   		}
			   		else{
			   			return Number(d.y) + 110;
			   		}
			 	case "R":
			   	case "UR":
			   	case "DR":
			   		return Number(d.y) + 20;
			   	case "U":
			   		return d.y - 10;
				default: 
			   		return Number(d.y) 			   
		    }
		})
	   	.attr("font-family", "sans-serif")
		.attr("font-size", "12px")

	svg.selectAll("rect")
	   .data(dataset)
	   .enter()
	   .append("rect")
	   .attr("x", function(d, i){
	   	return d.x;
	   })
	   .attr("y", function(d, i){
	   	return d.y;
	   })
	   .attr('fill', "white")
	   .attr('stroke', function(d){
	   		if(d.orient.length == 2){
	   			return "white";
	   		}
	   		else{
	   			return "black";
	   		}
	   })
	   .attr("width", function(d){
		   	switch (d.orient){
		   		case "L":
				   	 if(d.type == "S")
				   	 	return singleLength
				   	 else if(d.type == "Q")
				   	 	return quadWidth
				   	 else{
				   	 	return doubleLength
				   	 }
			   	case "D":
					if(d.type == "S")
						return singleWidth
					else{
						return doubleWidth
			   	 }
			   	case "R":
			   	 	if(d.type == "S")
				   	 	return singleLength
				   	else if(d.type == "Q")
				   	 	return quadWidth
				   	else{
				   	 	return doubleLength
				   	}
				case "U":
					if(d.type == "S")
						return singleWidth
					else{
						return doubleWidth
					}				
				default: 
					return largeDoubleSize
		   	}
	   })
	   .attr("height", function(d){
		   	switch(d.orient){
				case "L":
					if(d.type == "S")
						return singleWidth
					else if(d.type == "Q")
				   	 	return quadLength
					else{
						return doubleWidth
	 				}
				case "D":
					if(d.type == "S")
						return singleLength
					else{
						return doubleLength
					}
				case "R":
					if(d.type == "S")
						return singleWidth
					else if(d.type == "Q")
				   	 	return quadLength					
					else{
						return doubleWidth
	 				}
	 			case "U":
					if(d.type == "S")
						return singleLength
					else{
						return doubleLength
					}
				default:
					return largeDoubleSize;
			}
		})
	   .on("mouseover", function(d, i){
	   		d3.select(this).attr("fill", "lightgray");
	   })
	   .on("mouseout", function(d, i){
	   		d3.select(this).attr("fill", "white");
	   })
     .on("click", function(d, i){
       modal.style.display = "block";
    });


     var lineForUpperLeft = [{"x": dataset[0].x + largeDoubleSize, 'y': dataset[0].y},
 	   {"x": dataset[0].x + largeDoubleSize, 'y': dataset[0].y + largeDoubleSize},
 	   {"x": dataset[0].x, 'y': dataset[0].y + largeDoubleSize}, 
 	   {"x": dataset[0].x, 'y': dataset[0].y + largeDoubleSize * 0.5},
 	   {"x": dataset[0].x + largeDoubleSize * 0.5, 'y': dataset[0].y + largeDoubleSize * 0.5},
 	   {"x": dataset[0].x + largeDoubleSize * 0.5, 'y': dataset[0].y},
 	   {"x": dataset[0].x + largeDoubleSize, 'y': dataset[0].y},
     ]

    var lineForLowerLeft = [{"x": dataset[7].x, 'y': dataset[7].y},
 	   {"x": dataset[7].x + largeDoubleSize, 'y': dataset[7].y},
 	   {"x": dataset[7].x + largeDoubleSize, 'y': dataset[7].y + largeDoubleSize}, 
 	   {"x": dataset[7].x + largeDoubleSize * 0.5, 'y': dataset[7].y + largeDoubleSize},
 	   {"x": dataset[7].x + largeDoubleSize * 0.5, 'y': dataset[7].y + largeDoubleSize * 0.5},
 	   {"x": dataset[7].x , 'y': dataset[7].y + largeDoubleSize * 0.5},
 	   {"x": dataset[7].x , 'y': dataset[7].y},
     ]

    var lineForLowerRight = [{"x": dataset[14].x, 'y': dataset[14].y},
 	   {"x": dataset[14].x + largeDoubleSize, 'y': dataset[14].y},
 	   {"x": dataset[14].x + largeDoubleSize, 'y': dataset[14].y + largeDoubleSize*0.5}, 
 	   {"x": dataset[14].x + largeDoubleSize * 0.5, 'y': dataset[14].y + largeDoubleSize * 0.5},
 	   {"x": dataset[14].x + largeDoubleSize * 0.5, 'y': dataset[14].y + largeDoubleSize},
 	   {"x": dataset[14].x , 'y': dataset[14].y + largeDoubleSize},
 	   {"x": dataset[14].x , 'y': dataset[14].y},
     ]

	var lineForUpperRight = [{"x": dataset[21].x, 'y': dataset[21].y},
 	   {"x": dataset[21].x, 'y': dataset[21].y + largeDoubleSize},
 	   {"x": dataset[21].x + largeDoubleSize, 'y': dataset[21].y + largeDoubleSize}, 
 	   {"x": dataset[21].x + largeDoubleSize, 'y': dataset[21].y + largeDoubleSize * 0.5},
 	   {"x": dataset[21].x + largeDoubleSize * 0.5, 'y': dataset[21].y + largeDoubleSize * 0.5},
 	   {"x": dataset[21].x + largeDoubleSize * 0.5, 'y': dataset[21].y},
 	   {"x": dataset[21].x , 'y': dataset[21].y},
     ]


	var lineFunction = d3.svg.line()
		.x(function(d) { return d.x; })
		.y(function(d) { return d.y; })
		.interpolate("linear");

	var lineGraph = svg.append("path")
		.attr("d", lineFunction(lineForUpperLeft))
		.attr("stroke", "black")
		.attr("stroke-width", 1.5)
		.attr("fill", "none");

	var lineGraph2 = svg.append("path")
		.attr("d", lineFunction(lineForLowerLeft))
		.attr("stroke", "black")
		.attr("stroke-width", 1.5)
		.attr("fill", "none");

	var lineGraph3 = svg.append("path")
		.attr("d", lineFunction(lineForLowerRight))
		.attr("stroke", "black")
		.attr("stroke-width", 1.5)
		.attr("fill", "none");

	var lineGraph4 = svg.append("path")
		.attr("d", lineFunction(lineForUpperRight))
		.attr("stroke", "black")
		.attr("stroke-width", 1.5)
		.attr("fill", "none");
		       

// Get the modal
var modal = document.getElementById('myModal');
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>


