<h1>Dorms#north2</h1>
<p>Find me in app/views/dorms/north2.html.erb</p>

<script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>

 <style type="text/css">
/*Following Modal was taken from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>

 <body>
<!--  <h2 style="text-align:center">
	Case Dorm
 	  </h2> -->
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href=/dorms><span style="font-size:2.5em;" class="glyphicon glyphicon-circle-arrow-left"></span> Go back</a>			</div>

		    <div class="col-md-7">
				<div class="btn-group">
					<button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Change Dorms <span class="caret"></span>
					</button>

					<ul class="dropdown-menu">
				  	<li><a href=/dorms/atwood>Atwood</a></li>
				  	<li><a href=/dorms/case>Case</a></li>
				  	<li><a href=/dorms/east>East</a></li>
				  	<li><a href="#">Drinkward</a></li>
				  	<li><a href=/dorms/linde>Linde</a></li>
				  	<li class = "active"><a href=/dorms/north>North</a></li>
				  	<li><a href="#">Sontag</a></li>
				  	<li><a href=/dorms/south>South</a></li>
				    <li><a href=/dorms/west>West</a></li>
					</ul>
			    </div>
			</div>

			<div class="col-md-3">
				<div class="btn-group">
					<button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Switch Floor <span class="caret"></span>
					</button>

					<ul class="dropdown-menu">
				  	<li><a href=/dorms/north>First Floor</a></li>
				  	<li class = "active"><a href=/dorms/north2>Second Floor</a></li>
					</ul>
			    </div>
			</div>

			<h1><br></h1>
		</div>
	</div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Pull request initiated</h2>
        </div>
        <div class="modal-body">
          <p>You have begun a pull request for this room</p>
          <p>The following form must be filled out in order to pull a room:</p>
                <div class="form-group">
                <label for="usr">roomNum</label>
                <input type="text" class="form-control" id="usr">
                </div>


                <div class="form-group">
                <label for="roommate">Roommate:</label>
                <input type="password" class="form-control" id="pwd">
                </div>
        </div>
      </div>

    </div>


</body>

<script>
var w = 1000;
var h = 750;
 dataset = [
{roomNum : '265', status: "empty", type: "D", orient: "L"},
{roomNum : '263', status: "empty", type: "D", orient: "L"},
{roomNum : '261', status: "empty", type: "D", orient: "L"},
{roomNum : '259', status: "empty", type: "D", orient: "L"},
{roomNum : '257', status: "empty", type: "D", orient: "L"},
{roomNum : '255', status: "empty", type: "D", orient: "L"},
{roomNum : '253', status: "empty", type: "D", orient: "L"},
{roomNum : '251', status: "empty", type: "D", orient: "L"},

{roomNum : '271', status: "empty", type: "D", orient: "D"},
{roomNum : '275', status: "empty", type: "D", orient: "D"},
{roomNum : '276', status: "empty", type: "S", orient: "D"},
{roomNum : '272', status: "empty", type: "S", orient: "D"},

{roomNum : '266', status: "empty", type: "D", orient: "R"},
{roomNum : '264', status: "empty", type: "D", orient: "R"},
{roomNum : '262', status: "empty", type: "D", orient: "R"},
{roomNum : '260', status: "empty", type: "D", orient: "R"},
{roomNum : '258', status: "empty", type: "D", orient: "R"},
{roomNum : '256', status: "empty", type: "D", orient: "R"},
{roomNum : '254', status: "empty", type: "D", orient: "R"},
{roomNum : '252', status: "empty", type: "D", orient: "R"},

{roomNum : '270', status: "empty", type: "S", orient: "U"},
{roomNum : '274', status: "empty", type: "S", orient: "U"},
{roomNum : '278', status: "empty", type: "S", orient: "U"},
{roomNum : '277', status: "empty", type: "S", orient: "U"},
{roomNum : '273', status: "empty", type: "S", orient: "U"},
{roomNum : '260', status: "empty", type: "S", orient: "U"},
]

var singleWidth = 60 
var doubleWidth = 60
var singleLength = 80
var doubleLength = 100

var x = 100 //starting positions for left side 
var y = 90
for (var num = 0; num < 8; num++){	
	dataset[num].x = x 
	dataset[num].y = y
	if (dataset[num].type =="D"){
		y += doubleWidth
	}
	if (dataset[num].type =="S")
		y += singleWidth 
}
x = 260 //starting positions for lower side, doubles
y = 160
for (var num = 8; num < 10; num++){	
	dataset[num].x = x 
	dataset[num].y = y
	x += doubleWidth
}
x = 500 //starting positions for lower side, singles
y = 180
for (var num = 10; num < 12; num++){	
	dataset[num].x = x 
	dataset[num].y = y
	x += singleWidth 
}
x = 680 //starting positions for right side 
y = 570
for (var num = 12; num < 20; num++){	
	if (dataset[num].type =="D"){
		y -= doubleWidth
	}
	if (dataset[num].type =="S")
		y -= singleWidth 
	dataset[num].x = x 
	dataset[num].y = y
}
x = 620 //starting positions for upper side 
y = 30
for (var num = 20; num < 26; num++){	
	if (dataset[num].type =="D"){
		x -= doubleWidth
	}
	if (dataset[num].type =="S")
		x -= singleWidth 
	dataset[num].x = x 
	dataset[num].y = y
}


	var svg = d3.select("body")
            .append("svg")
            .attr("width", w)
            .attr("height", h);
	svg.selectAll("text")
	   .data(dataset)
	   .enter()
	   .append("text")
	   .text(function(d) {
	        return d.roomNum + '(' + d.type + ')';
	   })
	   	   .attr("x", function(d, i){
		    switch (d.orient){
		    	case "L":
			   		return Number(d.x) - 50;
			   	case "D":
			   	if (d.type == "S"){
		    			return Number(d.x) + 10;
			   		}
			   		else{
			   			return Number(d.x) + 5;
			   		}
			 	case "R":
			   		return Number(d.x) + 110;
			   	case "U":
			   		return Number(d.x) + 10;
		    }
		   })
	   .attr("y", function(d, i){
			switch(d.orient){
				case "L":
			   		return Number(d.y) + 20;
			   	case "D":
			   		if (d.type == "S"){
		    			return Number(d.y) + 100;
			   		}
			   		else{
			   			return Number(d.y) + 120;
			   		}
			   	case "R":
			   		return Number(d.y) + 20;
			   	case "U":
			   		return d.y - 10;
		    }
		})
	   	.attr("font-family", "sans-serif")
		.attr("font-size", "14px")
	svg.selectAll("rect")
	   .data(dataset)
	   .enter()
	   .append("rect")
	   .attr("x", function(d, i){
	   	return d.x;
	   })
	   .attr("y", function(d, i){
	   	return d.y;
	   })
	   .attr('fill', "white")
	   .attr('stroke', 'black')
	   .attr("width", function(d){
		   	switch (d.orient){
		   		case "L":
				   	return doubleLength  // because of the orientation the width on the left and right is really the length
			   	case "D":
					return singleWidth

			   	case "R":
				   	return doubleLength
				case "U":
					if(d.type == "S")
						return singleWidth
					else{
						return doubleWidth
					}
		   	}
	   })
	   .attr("height", function(d){
		   	switch(d.orient){
				case "L":
					return doubleWidth

				case "D":
					if(d.type == "S")
						return singleLength
					else{
						return doubleLength
					}
				case "R":
					return doubleWidth
					
	 			case "U":
					if(d.type == "S")
						return singleLength
					else{
						return doubleLength
					}
			}
		})
	   .on("mouseover", function(d, i){
	   		d3.select(this).attr("fill", "lightgray");
	   })
	   .on("mouseout", function(d, i){
	   		d3.select(this).attr("fill", "white");
	   })
     .on("click", function(d, i){
       modal.style.display = "block";
    })

    ;
// Get the modal
var modal = document.getElementById('myModal');
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>
