<h1>Dorms#south2</h1>
<p>Find me in app/views/dorms/south2.html.erb</p>


<script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>

 <style type="text/css">
/*Following Modal was taken from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>

 <body>
<!--  <h2 style="text-align:center">
	Case Dorm
 	  </h2> -->
			<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href=/dorms><span style="font-size:2.5em;" class="glyphicon glyphicon-circle-arrow-left"></span> Go back</a>			</div>

		    <div class="col-md-7">
				<div class="btn-group">
					<button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Change Dorms <span class="caret"></span>
					</button>

					<ul class="dropdown-menu">
				  	<li><a href="#">Atwood</a></li>
				  	<li><a href=/dorms/case>Case</a></li>
				  	<li><a href=/dorms/east>East</a></li>
				  	<li><a href="#">Drinkward</a></li>
				  	<li><a href="#">Linde</a></li>
				  	<li><a href=/dorms/north>North</a></li>
				  	<li class="active"><a href=/dorms/south>South</a></li>
				    <li><a href=/dorms/west>West</a></li>
					</ul>
			    </div>
			</div>

			<div class="col-md-3">
				<div class="btn-group">
					<button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Switch Floor <span class="caret"></span>
					</button>

					<ul class="dropdown-menu">
				  	<li><a href=/dorms/south>First Floor</a></li>
				  	<li class="active"><a href=/dorms/south2>Second Floor</a></li>
					</ul>
			    </div>
			</div>

			<h1><br></h1>
		</div>
	</div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Pull request initiated</h2>
        </div>
        <div class="modal-body">
          <p>You have begun a pull request for this room</p>
          <p>The following form must be filled out in order to pull a room:</p>
                <div class="form-group">
                <label for="usr">roomNum</label>
                <input type="text" class="form-control" id="usr">
                </div>


                <div class="form-group">
                <label for="roommate">Roommate:</label>
                <input type="password" class="form-control" id="pwd">
                </div>
        </div>
      </div>

    </div>


</body>

<script>
var w = 1000;
var h = 750;
 dataset = [
{x : '100', y : '40', roomNum : '307', status: "empty", type: "Q", orient: "L"},
{x : '100', y : '200', roomNum : '305', status: "empty", type: "T", orient: "L"},
{x : '100', y : '310', roomNum : '303', status: "empty", type: "T", orient: "L"},
{x : '100', y : '420', roomNum : '301', status: "empty", type: "Q", orient: "L"},

{x : '520', y : '190', roomNum : '359', status: "empty", type: "D", orient: "D"},
{x : '440', y : '190', roomNum : '361', status: "empty", type: "D", orient: "D"},
{x : '360', y : '190', roomNum : '363', status: "empty", type: "D", orient: "D"},
{x : '280', y : '190', roomNum : '365', status: "empty", type: "D", orient: "D"},

{x : '680', y : '40', roomNum : '307', status: "empty", type: "Q", orient: "R"},
{x : '680', y : '200', roomNum : '305', status: "empty", type: "T", orient: "R"},
{x : '680', y : '310', roomNum : '303', status: "empty", type: "T", orient: "R"},
{x : '680', y : '420', roomNum : '301', status: "empty", type: "Q", orient: "R"},

{x : '520', y : '80', roomNum : '360', status: "empty", type: "S", orient: "U"},
{x : '440', y : '80', roomNum : '362', status: "empty", type: "S", orient: "U"},
{x : '360', y : '80', roomNum : '364', status: "empty", type: "S", orient: "U"},
{x : '280', y : '80', roomNum : '366', status: "empty", type: "S", orient: "U"},
]
	var svg = d3.select("body")
            .append("svg")
            .attr("width", w)
            .attr("height", h);
	svg.selectAll("text")
	   .data(dataset)
	   .enter()
	   .append("text")
	   .text(function(d) {
	        return d.roomNum + '(' + d.type + ')';
	   })
	   .attr("x", function(d, i){
		    switch (d.orient){
		    	case "L":
			   		return Number(d.x)-50;
			   	case "D":
			 		return Number(d.x) + 15;
			 	case "R":
			 		if (d.type == "S"){
		    			return Number(d.x) + 80;
			   		}
			   		else{
			   			return Number(d.x) + 110;
			   		}
			   	case "U":
			   		return Number(d.x) + 15;
		    }
		   })
	   .attr("y", function(d, i){
			switch(d.orient){
				case "L":
			   		if (d.type == "Q"){
		    			return Number(d.y) + 80;
			   		}
			   		else{
			   			return Number(d.y) + 50;
			   		}			   	case "D":
			   		if (d.type == "S"){
		    			return Number(d.y) + 100;
			   		}
			   		else{
			   			return Number(d.y) + 120;
			   		}
			   	case "R":
			   		if (d.type == "Q"){
		    			return Number(d.y) + 80;
			   		}
			   		else{
			   			return Number(d.y) + 50;
			   		}			   	case "U":
			   		return d.y - 10;
		    }
		})
	   	.attr("font-family", "sans-serif")
		.attr("font-size", "14px")
	svg.selectAll("rect")
	   .data(dataset)
	   .enter()
	   .append("rect")
	   .attr("x", function(d, i){
	   	return d.x;
	   })
	   .attr("y", function(d, i){
	   	return d.y;
	   })
	   .attr('fill', "white")
	   .attr('stroke', 'black')
	   .attr("width", function(d){
		   	switch (d.orient){
		   		case "L":
				   	 return 100
			   	case "D":
					return 80
			   	case "R":
			   	 	return 100
				case "U":
					return 80
		   	}
	   })
	   .attr("height", function(d){
		   	switch(d.orient){
				case "L":
					if(d.type == "T")
						return 110
					else{
						return 160
	 				}
				case "D":
					if(d.type == "S")
						return 70
					else{
						return 100
					}
				case "R":
					if(d.type == "T")
						return 110
					else{
						return 160
	 				}
	 			case "U":
					if(d.type == "S")
						return 70
					else{
						return 100
					}
			}
		})
	   .on("mouseover", function(d, i){
	   		d3.select(this).attr("fill", "lightgray");
	   })
	   .on("mouseout", function(d, i){
	   		d3.select(this).attr("fill", "white");
	   })
     .on("click", function(d, i){
       modal.style.display = "block";
    })

    ;
// Get the modal
var modal = document.getElementById('myModal');
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>