<h1>Warn people about impending doom and droppage!</h1>
<%= button_to 'Send reminder email!', adminpage_clicked_path, method: :post %>
<%= datetime_field("schedule_time", "send")%>
<%= f.datetime_select(:send_at) %>
