<h1>HMC Room Draw</h1>
<h2> Admin settings </h2>




<%= button_to 'Send reminder email!', adminpage_clicked_path, method: :post %>
<%= button_to 'Download all users', adminpage_download_users_path, method: :post %>
<%= button_to 'Download all non-participants', adminpage_download_non_participants_path, method: :post %>
<%= button_to 'Download all pulls', adminpage_download_non_participants_path, method: :post %>
