<h1>Warn people about impending doom and droppage!</h1>
<%= button_to 'Send reminder email!', adminpage_clicked_path, method: :post %>
<%= button_to 'Download User CSV', adminpage_download_users_path, method: :post %>
