<div style="position:relative">
 	<form name='<%=paramID%>'>
 	 	<input id='<%=id%>' placeholder='<%=placeholder%>' type='text' class="form-control" >
 	 </form>
</div>
<script type="text/javascript">
    $(function () {
        $(<%=id%>).datetimepicker();
    });
<<<<<<< HEAD
</script>
=======
</script>
>>>>>>> adding landing page
