<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Number</th>
      <th>Room</th>
    </tr>
  </thead>

  <tbody>
    <% @pull.room_assignments.each do |room_assignment| %>
      <tr>
        <td><%= student_name(room_assignment) %></td>
        <td><%= student_number(room_assignment) %></td>
        <td><%= room_assignment.room.name %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<h3>Message: </h3> <%= @pull.message %>
