<h1>Editing Pull</h1>


<% if current_user.is_admin? %>

<%= render 'adminForm', pull: @pull %>

<% else %>

<%= render 'form', pull: @pull %>

<%= link_to 'Show', @pull %> |
<%= link_to 'Back', pulls_path %>

<% end %>