<% if current_user.is_admin? %>

<h1>Editing Pull <%= @pull.id %></h1>


	<%= render 'currentList', pull: @pull %>


    <%= render 'form', pull: @pull %>

    <%= link_to 'Back', pulls_path %>

<% end %>