<h1>New Pull</h1>

<% if current_user.is_admin? %>

    <%= link_to 'Add Student', add_student_to_pull_path %>
    <%= render 'adminForm', pull: @pull %>
    
<% else %>

    <%= render 'form', pull: @pull %>

<% end %>

<%= link_to 'Back', pulls_path %>
