<h1>New Pull</h1>

<% if current_user.is_admin? %>
	<!--TODO: student + room input  (REFRACTOR) -->
	<!-- Pull number irrelevant ? -->
    <%= render 'adminForm', pull: @pull %>
    
<% else %>

    <%= render 'form', pull: @pull %>

<% end %>

<%= link_to 'Back', pulls_path %>
