<p id="notice"><%= notice %></p>
<center>
<% if status(@draw_period) == 'Complete' %>
    <h1>You're Too Late!</h1>
    <p>Digital Draw ended on <strong><%= @end %></strong>.</p>
<% else %>
    <h1>Coming Soon</h1>
    <% if @draw_period != nil %>
        <p>Digital Draw will take place from <strong><%= @start %></strong> to <strong><%= @end %></strong>.</p>
    <% else %>
        <p>Date of next Digital Draw to be announced!</p>
    <% end %>
<% end %>
</center>