<h1>Scheduling a Draw Period</h1>

<%= render 'form', draw_period: @draw_period %>
<%= link_to 'Cancel', @draw_period, method: :destroy, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Show', @draw_period %> |
<%= link_to 'Back', draw_periods_path %>
