// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.dorms {
	// Set up code for the div to appear in the right place
	position:absolute;
	z-index:20000;
	display: none;

	// styling 
	background: white;
	border-radius:  25px;
	border-style: solid;
	border-color: black;
	padding: 20px;
	font-family: Georgia;
	font-size: 100%;

}

// Styling taken from w3schools
#dormTable {
	display:  none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#dormTable td, #dormTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dormTable tr:nth-child(even){background-color: #f2f2f2;}

#dormTable tr:hover {background-color: #ddd;}

#dormTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #9d9d9d;
    color: white;
}