<h1>Emails#show</h1>
<p>Find me in app/views/emails/show.html.erb</p>

<p>Temporary landing page for CSV download</p>


<%= button_to 'Download all users', emails_download_non_participants_path, method: :post %>